.tableContainer {
    height: 98%;
    width: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow-y: scroll;
    border-radius: 5px 5px 5px 5px;
    scrollbar-width: thin;
}

.table {
    width: 100%;
    margin: 0 auto;
    font-size: 11pt;
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}

.tableHeader {
    background-color: #8fdbff;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.tableHeader th {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.tableBody {
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
}

.tableBody td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.tableBody tr:hover {
    background-color: #f5f5f5;
}

.dataColumn {
    width: 100px;
}

.descriptionColumn {
    text-align: left;
    width: 600px;
}

valorColumn {
    width: 50px;
    text-align: right;
}

.bancoColumn {
    width: 100px;
}

.formaPagamentoColumn {
    width: 100px;
}

.parcelaColumn {
    width: 10px;
}
