* {
  margin: 0;
  padding: 0;
}

.Base{
  display: flex;
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}

.TopBar{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #c9c9c9;
  color: #fff;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-radius: 0px 0px 10px 10px; 
}

.SideBar{
  margin-top: 60px;
  width: 70px;
  height: 90vh;
  background-color: #00a7f5;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.Main{
  margin-top: 60px;
  margin-left: 10px;
  width: 100%;
  height: 90vh;
  background-color: #e7e7e7;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

.SideBarButton {
  color: black;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 70px;
  background: none;
  transition: transform 0.2s ease, box-shadow 0.15s ease-out;
}

.SideBarButton:active {
  transform: scale(1); /* Faz o botão "afundar" */
  box-shadow: 0 2px 54px rgba(255, 255, 255, 0.336); /* Adiciona um efeito de sombra */
}

