.ExtratoTable {
    max-width: 1480px;
    width: 1500px;
    border-collapse: collapse;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.116);
    align-items: center;
    align-content: center;
    text-align: center;
}

.ExtratoTableHeader {
    background-color: #8fdbff;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.ExtratoTableBody {
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
}

.ExtratoTableDescription {
    text-align: left;
    width: 500px;
}

.ExtratoParcela {
    width: 15px;
}

.ExtratoTotalParcelas {
    width: 15px;
}
